SELECT 
    CURRENT_MONTH,
    NEW_CUSTOMERS,
    REPEAT_CUSTOMERS,
    REACTIVATED_CUSTOMERS,
    LAG(TOTAL_CUSTOMERS,1) OVER (ORDER BY CURRENT_MONTH ASC ) AS PREV_CUSTOMERS,
    REPEAT_CUSTOMERS - LAG(TOTAL_CUSTOMERS,1) OVER (ORDER BY CURRENT_MONTH ASC ) AS CHURNED_CUSTOMER,
    TOTAL_CUSTOMERS
FROM(
    SELECT CURRENT_MONTH ,
    COUNT(DISTINCT CASE WHEN STATUS = 'NEW' THEN CUST_CODE ELSE NULL END) AS NEW_CUSTOMERS ,
    COUNT(DISTINCT CASE WHEN STATUS = 'REPEAT' THEN CUST_CODE ELSE NULL END) AS REPEAT_CUSTOMERS ,
    COUNT(DISTINCT CASE WHEN STATUS = 'REACTIVATE' THEN CUST_CODE ELSE NULL END) AS REACTIVATED_CUSTOMERS ,
    COUNT(STATUS) AS TOTAL_CUSTOMERS
    FROM(
        SELECT CUST_CODE, SHOP_MONTH AS CURRENT_MONTH, PREV_MONTH ,
        CASE
            WHEN DATE_DIFF(SHOP_MONTH, PREV_MONTH, MONTH) IS NULL THEN 'NEW' 
            WHEN DATE_DIFF(SHOP_MONTH, PREV_MONTH, MONTH) = 1 THEN 'REPEAT' 
            WHEN DATE_DIFF(SHOP_MONTH, PREV_MONTH, MONTH) > 1 THEN 'REACTIVATE' 
        ELSE NULL END AS STATUS 
        FROM(
            SELECT CUST_CODE, SHOP_MONTH, LAG(SHOP_MONTH, 1) OVER (PARTITION BY CUST_CODE ORDER BY SHOP_MONTH) AS PREV_MONTH 
            FROM(
                SELECT DISTINCT CUST_CODE,DATE_TRUNC(PARSE_DATE('%Y%m%d', CAST(SHOP_DATE AS STRING)), MONTH) SHOP_MONTH 
                FROM `aqueous-scout-336502.Supermarket.Supermarket`
                WHERE CUST_CODE IS NOT NULL
            )
        )
    )GROUP BY CURRENT_MONTH 

)ORDER BY CURRENT_MONTH 
